.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: all;
}
.top {
  top: -20px;
}
.bottom {
  top: 100px;
}
.left {
  left: -200px;
  top: 40px;
  @media only screen and (max-width: 600px) {
    left: -50px;
    width: 60px;
  }
}
.right {
  right: -200px;
  top: 40px;
  @media only screen and (max-width: 600px) {
    right: -35px;

    width: 60px;
  }
}
